[include]
	path = ~/.gitconfig.local
# Required in ~/.gitconfig.local:
# [user]
#     name = Your Name
#     email = you@example.com

[user]
    signingkey = ~/.ssh/id_ed25519 
[init]
	defaultBranch = main
[pull]
	rebase = true
[core]
	editor = codium --wait
	excludesfile = $HOME/.gitignore_global
	autocrlf = input
[commit]
	gpgsign = true
	template = ~/.gitmessage
[gpg]
	format = ssh
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

[alias]
	st = status
	a = add
	c = commit # with gitmessage template 
	cm = commit -m
	p = push
	pf = push --force-with-lease
	wa = worktree add
	wl = worktree list
	wd = worktree remove
	pretty = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short